<section class="h-screen  grid grid-nogutter">
<div class="login-logo col-8 surface-50">
  <img src="/assets/login-v2.svg" class="max-w-full h-auto" alt="pnf login">
</div>
<div class="login col-4 pb-5 px-0  flex flex-column justify-content-center align-items-center">
  <div class="flex flex-column justify-content-center align-items-start">
    <h2 class="text-800 ">Welcome To PNF! 👋</h2>
    <p class="text-600 py-4 ">Please sign-in to your account</p>
<div class="field col-12 md:col-4 pl-0">
  <span class="p-float-label p-input-icon-right">
      <input type="text" id="inputtext-right" pInputText class="py-2">
      <label for="inputtext-right">Email</label>
  </span>
</div>
<div class="field col-12 md:col-4 pl-0">
  <span class="p-float-label p-input-icon-right">
      <i class="pi pi-spin pi-spinner"></i>
      <input type="password" id="inputtext-right" pInputText class="py-2" >
      <label for="inputtext-right">Password</label>
  </span>
</div>

<div class="field-checkbox">
  <p-checkbox  [inputId]="'remember me'" name="remember me" value="true" ></p-checkbox>
  <label [for]="'remember me'">Remember Me</label>
</div>
  <button pButton pRipple label="Sign in" class="w-full py-2"></button>
  </div>
</div>
</section>

